@font-face {
    font-family: "flaticon";
    src: url("./flaticon.ttf?31753eb422c37879cc0fcc508c6ba0b0") format("truetype"),
url("./flaticon.woff?31753eb422c37879cc0fcc508c6ba0b0") format("woff"),
url("./flaticon.woff2?31753eb422c37879cc0fcc508c6ba0b0") format("woff2"),
url("./flaticon.eot?31753eb422c37879cc0fcc508c6ba0b0#iefix") format("embedded-opentype"),
url("./flaticon.svg?31753eb422c37879cc0fcc508c6ba0b0#flaticon") format("svg");
}

i[class^="flaticon-"]:before, i[class*=" flaticon-"]:before {
    font-family: flaticon !important;
    font-style: normal;
    font-weight: normal !important;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.flaticon-chef:before {
    content: "\f101";
}
.flaticon-cooking:before {
    content: "\f102";
}
.flaticon-food-store:before {
    content: "\f103";
}
.flaticon-warehouse:before {
    content: "\f104";
}
.flaticon-kitchen:before {
    content: "\f105";
}
.flaticon-coach:before {
    content: "\f106";
}
.flaticon-digital:before {
    content: "\f107";
}
.flaticon-warehouse-1:before {
    content: "\f108";
}
